.app {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 90vh;
}

.app__container{
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  align-items: center;
  max-width: 300px;
  box-shadow: -1px 4px 20px -6px black;
}

.app__header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.app__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__image {
  height: auto;
  width: 60%;
}

.app__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
